img.avatar {
    width: 60px;
    height: 60px;
}

label {
    display: block;
}

.navbar-default {
    background-color: blue;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.mainPage {
    margin: 1em;
}

.tweet {
    display: flex;
    width: 20%;
    margin: 1em;
    flex-direction: row;
}

.tweeter-avatar {
    flex: 1;
}

.tweeter-username {
    flex: 1;
    margin: auto;
}

.tweet-text {
    flex: 1.5;
    margin: auto;
}